.account-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.account-box {
  border: 1px solid #eaeaea;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.account-box h2 {
  font-family: var(--font-display);
  font-size: 1.5rem;
}

.account-box p {
  margin-bottom: 2rem;
}
