.info-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f8f8;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info-item p {
  margin: 0;
  font-weight: bold;
}
