.info-page {
  padding-top: 100px; /* To account for the fixed header */
  padding-bottom: 4rem;
  max-width: 800px;
  margin: 0 auto;
}

.info-page h1 {
  font-family: var(--font-display);
  font-size: 2.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 1rem;
}

.info-page h2 {
  font-family: var(--font-display);
  font-size: 1.8rem;
  margin-top: 2rem;
}

.info-page p, .info-page li {
  line-height: 1.6;
  color: #555;
}
